# .gitignore
# Игнорирование системных файлов
.DS_Store
Thumbs.db

# Игнорирование логов
*.log

# Игнорирование временных файлов
*.tmp
*.temp

# Игнорирование конфигурационных файлов с паролями
config.php
lab11.php
lab12.php
lab13.php
some1.jpg
some2.jpg
some3.jpg
# Игнорирование папки с зависимостями
/vendor/
/lab10/
